<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/estilos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <img class="logo" src="./img/Image20240206223235.jpg" alt="Imagen mercado libre">
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos,marcas y mas">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        
        <div class="header-p-icon">
            
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjetas de crédito</p>
        </div>
        
        <nav>
            <ul class="header-nav">
                <li class="nav-ul-li"><a href="#">Oferta</a></li>
                <li class="nav-ul-li"><a href="#">Tiendas Oficiales</a></li>
                <li class="nav-ul-li"><a href="#">Vender</a></li>
                <li class="nav-ul-li"><a href="#">Ayuda</a></li>
                <li class="nav-ul-li-a"><a href="/register">Creá tu cuenta</a></li><i class="fas fa-user-plus"></i>
                <li class="nav-ul-li-a"><a href="./login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i>
                <li class="nav-ul-li-a"><a href="#">Mis compras</a></li><i class="fas fa-shopping-bag"></i>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img  class= "img home" src=".\img\img-home-banner.jpg" alt="home">
        <section class="productos">
            <p><strong>Basado en tu última vista</strong></p>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
          
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p> 
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <p><strong>Sección de ofertas</strong></p>
            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                    </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                    </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="product-info-box">
                    <img width="120" src="./img/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <i class="fas fa-truck"></i>
                    <div class="product-info">
                        <div class= "precios-descuentos" >
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <h1 class="footer-h1">Pagá con tarjeta o en efectivo<i class="fas fa-credit-card"></i></h1>
            <p class="footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h1 class="footer-h1">Envío gratis desde $ 2.500<i class="fas fa-gift"></i></h1>
            <p class="footer-p">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h1 class="footer-h1">Seguridad, de principio a fin <i class="fas fa-user-shield"></i></h1>
            <p class="footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>
        <section>
            <h1 class="footer-h1">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
        </section>
    </footer>
</body>
</html>
